.profile
{
  width: 280px;
  margin-top: 10px;
}

.contener
{
	width: 90px;
	height:90px;
	border:2px solid #f7f7f7;
    border-radius:50%;
    border-color: #c8ad78;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/img_bounce.png);
	background-size:cover;
	display:inline-block;
	position:absolute;
}
.contener_txt
{
  width: 100%;
  height: 90px;
  padding-top: 20px;
	display:inline-block;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
	text-align:left;
	padding-left:90px;
	box-shadow:5px 5px 15px #c8ad78;
}
.name
{
  line-height: 1;
  color:#444444;
  font-size: 15px;
}

.email
{
	color:#666666;
  font-size: 12px;
}
.more  {
  font-size: 30px;
  color: black;
  display:inline-table;
}
  
.google-button-logout {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}